*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#om{
    display: flex;
}

h1{
    color: #bb7700;
    font-size: 40pt;
}

header
{
    height: 120px;
    background-color: #764207;
    font-family: 'Nanum Gothic', sans-serif;
}