*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;

}

/*header*/
header
{
    height: 120px;
    background-color: #764207;
    font-family: 'Nanum Gothic', sans-serif;
}

/*øverste del i main*/
.om{
    display: flex;
}

/*placeringen af teksten øverst i main*/
.omstreetcoffee{
    width: 750px;
    margin: 80px;
    margin-top: 200px;
}

/*layout af teksten øverst i main*/
h1{
    color: #bb7700;
    font-size: 40pt;
    font-family: 'Nanum Gothic', sans-serif;
}

#overskrift{
    font-size: 70pt;
    text-align: center;
}

#velkommen{
    text-align:center;
    margin-top: 30px;
    font-size: 22pt;
}

/*placeringen af læs mere knappen*/
#læsmere{
    margin-top: 50px;
    margin-left: 325px;
}


/* main afsnittet med vores caféer*/

.vorescafeer{
    background-color: #e6dfd6;
}

/*layout til "vores caféer" overskriften*/
h2{
    color: #764207;
}


header
{
    height: 500px;
    background-color: #764207;
    font-family: 'Nanum Gothic', sans-serif;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}


.headertop
{
    display: flex;
}
header nav a
{
    text-decoration: none;
    color:white;
}

