*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
/*--------------------------------------------------------------------/*
/*HEADER*/

header
{
    background-color: #764207;
    font-family:'Dosis', sans-serif;
    text-transform: uppercase;
}

header section
{
    display: flex;
    width: 100%;
}

header div
{
    width: 33%;
}

.headerlogo img
{
    display: flex;   
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.socialmedia
{
    text-align: end;
    padding: 15px 40px 0px 0px;
    display: flex;
    justify-content: end;
}

.socialmedia a
{
    font-size: 16pt;
    text-decoration: none;
    color: white;
    margin: 0px 8px;
}

.headersome .socialmedia #omos
{
    padding-top: 9px
}

.headersome
{
    gap: 15px;
}

#navLaptop
{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    max-width: 80%;
    margin: auto;
    font-size: 21pt;
    padding-bottom: 10px;
}

#navLaptop a{
    text-decoration: none;
    color:white;
}

#navLaptop a:hover 
{
    text-decoration: underline;
}

#navMobile > a > img{
    width:100%; 
}


/*--------------------------------------------------------------------/*

/*LAPTOP RESPONSIVE*/
@media screen and (min-width: 530px)
{
    /* Skjul mobilmenuen.*/
    #navMobile
    {
        display:none;
    }
    #headerlogomobil
    {
        display:none;
    }
}

/*--------------------------------------------------------------------/*
/* MAIN */

/*øverste del i main*/
.om
{
    display: flex;
}

/*boksen med billede og tekst skal fylde 50% hver*/
.billedeboks 
{
    width: 50%;
}

.billedeboks img
{
    width: 100%;
    display: block;
}

/*placeringen af teksten øverst i main*/
.tekstboks
{
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
    
}

.tekstboks a 
{
    position: relative;
    display: inline-block;
}

#læsmereboks
{
    margin-top: 20px;
}
.tekstboks a span
{
    width: 100%;
    color: white;
    font-size: 22pt;
    font-family: myriad-pro, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -70%);
    transform: translate(-50%, -70%);
    display: inline-block;
}

#læsmere
{
    color:black;
    position: relative;
    display: inline-block;
}
/*layout af teksten øverst i main*/

.om h1
{
    display: flex;
    color: #bb7700;
    font-size: 70pt;
    font-family: social-gothic-rough, sans-serif;
    font-weight: 700;
    font-style: normal;
    justify-content: center;
}

/*brødtekst layout*/
.om, .rabat, .nyhed p {
    text-align:center;
    font-size: 22pt; 
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

/*-----------------------CAFECARDS-----------------------------*/


.vorescafeer
{ 
    background-color: #e6dfd6;
}
.vorescafeer h1
{
    color: #764207;
    font-size: 22pt;
    font-family: myriad-pro, sans-serif;
    font-weight: 900;
    padding-top: 20px;
    padding-left: 35px;
}

.row1
{
    display: flex;
    justify-content: center;
    align-content: center;
    gap:15px;
    padding: 10px;
}

.row1 img
{
    width: 100%;
}


/*------------------STUDIERABAT---------------------------*/
.rabat{
    margin-top: 50px;
    display: flex;
    background-color: white;
}

/*layout på studierabat overskrift*/
.rabat h1{
    color: #b47e4c;
    font-size: 50pt;
    font-family: social-gothic-rough, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center; 
}

/*---------------TRE LINKS IKONER ------------------------------*/

.trelinks
{
    padding-top: 40px;
    background-color:#e6dfd6;
    padding-bottom: 40px;
}

/*flexbox til ikonerne*/
.ikoner
{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-direction: row;
}

/*ikonernes placering*/
.ikoner img
{
    width: 100%;

}

/*layout på teksten i ikon afsnittet*/
#shoptekst a
{   margin-top:5px;
    display: flex;
    justify-content: center;
    color: #764207;
    font-size: 17pt;
    font-family: myriad-pro, sans-serif;
    font-weight: 900;
}


/*---------------TIMELD NYHEDSBREV ------------------------------*/


/*flexbox i nyhedsbrev afsnittet*/
.nyhed
{
    display: flex;
    padding-right: 135px;
    white-space: nowrap;
    background-color: white;
}

/*layout på nyhedsbrev overskrift*/
.nyhed h2{
    color: #764207;
    font-size: 38pt;
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;

}

#indtastmail
{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.mailbox1
{
    padding: 15px;
    font-size: 15px;
    transition: 0.6s;
    font-size: 15pt;
    border-radius: 5px 0px 0px 5px;
    border: none;
    outline: none;
    background-color: #e6dfd6;
}


.sendbutton1
{
    background-color: #e6dfd6;
    font-size: 15pt;
    padding: 15px;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    text-align: center;
    color: black;
    border: none;
    outline: none;

}


/*-----------------UNDERSIDE NYHEDSBREV----------------------------*/

.nyhedsbrevbody
{
    background: url(images/bønner2.png);
    background-repeat: no-repeat;
}

.nyhedsbrevbody img
{  
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

.nyhedsbrevbody h1
{
    color: #bb7700;
    font-size: 30pt;
    font-family: social-gothic-rough, sans-serif;
}

.emailcontainer
{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 30px;
    background-color: #e6dfd6;
    width: 500px;
    height: 250px;
}


#tekstmail
{
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #764207;
}

#tekstmail p
{
    font-family:'Dosis', sans-serif;
    font-size: 15pt;
    white-space: nowrap;
}

.nyhedsbrevbody button
{
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    color: black;
    border: none;
    outline: none;
    width: 150px;
    height: 40px;
}



/*---------------------FOOTER------------------------------*/

footer
{
    background-color: #764207;
    font-family: myriad-pro, sans-serif;
    color: white;
    height: 300px;
}

footer section
{
    display: flex;
    margin-top: 30px;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 5%;
}


footer section div h1
{
    margin-top: 60px;
    font-size: 15pt;
    color: white;
}

footer section div p

{
    line-height:35px;
    font-size: 14pt;
    font-weight: lighter;
}

#somelink
{
    text-decoration: none;
    line-height:35px;
    font-size: 14pt;
    font-weight: lighter;
    color: white;
}
#tilmeld
{
    line-height:22px;
}

footer img
{
    margin-top: 15px;
    margin-bottom: 15px;
    gap:20px;
}

.mailbox
{
    width: 200px;
    height: 40px;
    display: inline-flex;
    padding: 6px;
    margin-top: 8px;
    font-size: 10px;
    transition: 0.6s;
    font-size: 12pt;
    border-radius: 5px 0px 0px 5px;
    border: none;
    outline: none;
    background-color: #e6dfd6;

}

.sendbutton
{
    background-color: #e6dfd6;
    font-size: 16px;
    padding: 7px 15px;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    text-align: center;
    color: black;
    border: none;
    outline: none;
    width: 70px;
    height: 40px;

}








/*MOBIL RESPONSIVE*/
@media only screen and (max-width: 530px)
{
    header
    {
        display: flex;
        justify-content: space-between;
    }

    #navLaptop, .headersome, .headerlogo
    {
        display:none; 
    }

   #navMobile
   {
    display: flex;
    justify-content:right;
    width: 100%;
    margin-top: 15px;
    margin-right: 5px;

   }
    #headerlogomobil /* Logoet skal være mindre på mobil. */
    { 
        margin-left: 10px;
        width: 100%;
        padding: 7px;

    }    
/*

*/

    .billedeboks img, .billedeboks
    {
        display: none;
    }

    .om
    {
        justify-content: center;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/kaffe.jpg);
        background-size: cover;
        background-position: center; 
        background-color: rgba(0, 0, 0, 0.199);
        height: 500px;
    }

    .tekstboks h1
    {   text-align: center;
        font-size:50pt;
        white-space: nowrap;
    }

    .om p
    {
        display: flex;
        font-size: 15pt;
        color: white;
        white-space: nowrap;
        justify-content: center;
    }

    #læsmereboks img
    {
        width: 70%;
    }
    #læsmereboks span
    {
        font-size: 16pt;
    }

    .row1
    { 
        flex-direction: column;
        justify-content: center;
    }
    .row1 img
    {
        max-width: 100%;
    }

    .vorescafeer
    {
        padding-top: 25px;
    }
    .vorescafeer h1
    {
        font-size: 18pt;
    }




}