*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Stylesheeet til underartikler */ 

/* CSS til cafeerne */
/*CSS til Vestergade*/
.vestergade{
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 500px;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 40px;
}

.vestergade div{
    background-color: white;
    justify-content: space-around;
    width: 50%;
    margin: 20px;
}

.vestergade h3{
    margin-top: 5px;
}

.vestergade h2{
    margin-top: 20px;
}

#tre_billeder_fra_højre .img_vestergade_1{
    background-color: blue;
    height: 150px;
    width: 150px;
}

/*Bassin og graven*/ 
.bassin_graven{
    display: flex;
    flex-direction: row;
    background-color: #f4d19c;
    height: 600px;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
}

.bassin_graven div{
    background-color: #f4d19c;
    justify-content: space-around;
    margin: 50px;
    margin-left: 20px;
    width: 50%;
}

.bassin_graven h3{
    margin-top: 5px;
}

.bassin_graven h2{
    margin-top: 20px;
}

.img_bassin_venstre{
    height: 95%;
    width: 100%;
}

.bassin_graven_content img{
    margin-top: 20px;
}

.bassin_graven_content {
    text-align: center;
}

.bassin_graven_content h3 {
    text-align: left;
}

/*Brammersgade*/
.brammersgade{
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 750px;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
}

.brammersgade div{
    background-color: white;
    justify-content: space-around;
    margin-left: 20px;
    margin-top: 50px;
}

.brammersgade h3{
    margin-top: 5px;
}

.brammersgade h2{
    margin-top: 20px;
}

.img_bram_højre{
    float: right;
}

.img_bram_midt{
    float: right;
}

.img_bram_venstre{
    float: right;
}


/* Graven */
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: 0px;
    padding: 0px; 
}

.slideshow-container div{
    width: 300px;
    height: 300px;
    margin: 0px;
    padding: 0px; 
}

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }

/* Graven*/


