*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Stylesheeet til underartikler */ 

/*------------------------ CSS til CAFEERNE ------------------------*/

/*Bassin og graven*/ 
.bassin_graven{
    display: flex;
    flex-direction: row;
    background-color: #f4d19c;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

.bassin_graven div{
    background-color: #f4d19c;
    justify-content: space-around;
    margin: 50px;
    margin-left: 20px;
    width: 50%;

}

.bassin_graven h1{
    color: #bb7700;
    font-size: 40pt;
    font-family: social-gothic-rough, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.bassin_graven h3{
    margin-top: 5px;
    font-size: 15pt; 
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.bassin_graven h2{
    margin-top: 20px;
    color: #764207;
    font-size: 22pt;
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.bassin_graven p{
    font-size: 15pt; 
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.img_bassin_venstre{
    display: block;
    height: auto;
    width: auto;
}

.bassin_graven_content img{
    margin-top: 20px;
}

.bassin_graven_content {
    text-align: center;
}

.bassin_graven_content h3 {
    text-align: left;
}

/* Bassin */
.bassin_lilleimg{
    height: 130px;
    width: 130px;
}


/*Vestergade og Brammersgade*/
.vestergade_brammersgade{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100%;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20px;
}

.vestergade_brammersgade div{
    background-color: white;
    margin-left: 3%;
    margin-top: 5%;
    height: 100%;
    width: 100%;
}

.vestergade_brammersgade h1{
    color: #bb7700;
    font-size: 40pt;
    font-family: social-gothic-rough, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.vestergade_brammersgade h3{
    margin-top: 5px;
    font-size: 15pt; 
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.vestergade_brammersgade h2{
    margin-top: 20px;
    color: #764207;
    font-size: 22pt;
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.vestergade_brammersgade p{
    font-size: 15pt; 
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.vestergade_brammersgade_3img{
    display: flex;
    flex-direction: row;
}

.vest_bram_højre{
    margin-top: -50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.vest_bram_midt{
    margin-top: -170px;
} 

.vest_bram_venstre{
    margin-top: -240px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.vest_bram_midt, .vest_bram_venstre, .vest_bram_højre
    {
        display: flex; 
        height: auto;
        max-width: 100%;
    }

#mobilbram{
    display: none;
}

/* Responsive til Ipad */ 
@media only screen and (min-width: 651px) and (max-width:1023px)
{
    .vestergade_brammersgade_3img
    {
        display: flex; 
        height: auto;
        width: 100%; 
    }

    .vestergade_brammersgade_3img div{
        display: flex;
        width: 50%;
    }

    .vest_bram_midt, .vest_bram_højre
    {
        display: flex; 
        height: auto;
        max-width: 100%;
    }

    #vest_img_ipad, #bram_img_ipad{
        display: none;
    }

    #mobilbram{
        display: none;
    }

    .bassin_graven
    {
        flex-direction: flex;
        flex-direction: column-reverse;
        width: 100%;
        align-items: center;
    }

    .img_bassin_venstre{
        display: block;
        height: auto;
        width: 100%;
        padding: 10%;
        padding-top: 0px;
    }

    .bassin_graven div
    {  
        width: 100%;
    }

    .graven_imgs{
        max-width: 500px;
    }

    #bas_imgvenstre_ipad, .graven_imgs{
        padding-left: 15%;
        padding-right: 15%;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    

}



/*  responsive til telefon */ 
@media only screen and (max-width: 650px) 
{
    .vestergade_brammersgade 
    {
        flex-direction: column;
        height: 100%;
    }

    .vestergade_brammersgade_3img
    {
        display: none;
    }

    #mobilbram{
        display: flex;
   }

   .vest_bram_højre, .vest_bram_midt{
        margin-top: auto;
    
   }

    .bassin_graven
    {
        flex-direction: column-reverse;
        width: 100%;
    }

    .bassin_graven div, .graven_imgs
    {
        width: 80%;
    }

    .img_bassin_venstre{
        display: block;
        justify-content: center;
        height: auto;
        width: 100%;
    }

    .slideshow-container{
        display: block;
        width: 100%;
        height: auto;
    }

}


/* Graven */
.bassin_graven .graven_imgs{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;    
}



/* Slideshow container */
.slideshow-container {
    max-width: 600px; 
    width: 100%;
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

.slideshow-container div{
    margin: 0px;
    display: flex; 
    height: auto;
    width: 100%; 
}

.slideshow-container div img{
    display: flex; 
    height: auto;
    width: 100%; 
}

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
 

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  


/* Graven*/




/*------------------------ CSS til OM OS siden ------------------------*/

/*flexbox til tekst og billedet på siden*/
.omos{
    display: flex;
}

/*layout til overskriften*/
.vier h1{
    color: #bb7700;
    font-size: 70pt;
    font-family: social-gothic-rough, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}


/*layout til øverste underoverskrifterne*/
.tekstboks h2{
    color: #764207;
    font-size: 22pt;
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: left;
    margin-bottom: 10px;
}

/*layout til de andre to underoverskrifterne*/
.omos h3{
    color: #764207;
    font-size: 22pt;
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: left;
    padding-top: 40px;
    
}

/*layout til brødteksten*/
.tekstboks p{
    text-align:left;
    font-size: 14pt; 
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 38px;
    margin-bottom: 20px;
}


/*boksen med billede og tekst skal fylde 50% hver*/
.billedeboks 
{
    width: 50%;
    margin-right: 50px;
}

.billedeboks img
{
    width: 100%;
    display: block;
}

/*placeringen af teksten øverst i main*/
.tekstboks
{
    width: 50%;
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 50px;
}

/*flexbox til kontakt boksen og boksens farve og størrelse*/
.kontakt{
    display: flex;
    background-color: #e6dfd6;
    padding: 40px;
    margin-top: 70px;
    margin-bottom: 40px;

}

/*layout til overskrifterne i kontakt boksen*/
.kontakt h2{
    color: #764207;
    font-size: 22pt;
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: left;
    padding-top: 5px;
    padding-left: 30px;
}

/*layout til brødtekst i kontakt boksen*/
.kontakt p{
    text-align:left;
    font-size: 14pt; 
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 40px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 20px;
}

/*sociale medier ikonernes placering og størelse*/
.billedeboks a img {
    width: auto;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
} 

/*flexbox til sociale medier ikonerne*/
.icons{
    display: flex;
}

/*divernes størrelse som sociale medier ikonerne er i*/
.divboks{
    height: 55px;
    width: 55px;
}


/*MOBIL RESPONSIVE til "OM OS" siden*/
@media only screen and (max-width: 767px)
{
    
    .vier h1{
        font-size: 40pt;
    }

    .tekstboks{
        width: 90%;
    }

    .billedeboks{
        display: block;
        
    }

    .billedeboks img{
        width: 200%;
    }

    .omos{
        flex-wrap: wrap;
        margin: 0px;
    }

    .kontakt{
        flex-wrap: wrap;
        margin: 0px;
    }

    .kontakt, .divboks{
        width: 200%;
    }

    .icons .divboks #insta img{
        margin-left: -70px;
    }

    .icons{
        padding-bottom: 20px;
    }
}


/*----------------------------- CSS til MENU siden ---------------------------*/


/* Dette bruges for begge menuer */
.menucontainer{
    display: flex;
    justify-content: center;
    background-color: #f4d19c;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding-bottom: 20px;
}

.menucontainer div ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menucontainer div ul #brownspot{
    background-color: #764207;
    color: #764207;
    padding-right: 100px;
}


/* KAFFE MENU */

.coffeemenupic{
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: #f4d19c;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.menucontainer #espresso ul li{
    padding-right: 100px;
    background-color: #764207;
}

.menucontainer div ul li{
    font-size: 22pt;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal; 
    color: #f4d19c;
    padding: 5px 0px 5px 15px;
}

.menucontainer div ul #extras{
    background-color: #f4d19c;
    color: #764207;
    font-size: 16pt;
}    

.menucontainer div #prices li{
    color: #764207;
    font-weight: 700;
}



/* DIVERSE MENU */

.croissantpic{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #f4d19c;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.menucontainer div #beerplease{
    position: relative;
    margin-right: -80px;
    font-size: 12pt;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal; 
    color: #764207;
    padding: 5px 0px 5px 15px;
}

.menucontainer div #tomt{
    margin-left: 95px;
    background-color: #764207;
    color: #764207;
    font-size: 12pt;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal; 
    padding: 0px 0px 15px 5px;
}


/* Rabatter og gavekort (4 diver i bunden) */

.rabatter{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
    gap: 100px;

}

.rabatter div{
    width: 30%;
    background-color: white;
}

.rabatter h2{
    color: #764207;
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20pt;
    position: relative;
}

.rabat-knap{
    position: absolute;
    margin-left: -74px;
    margin-top: -39px;
}

.rabatter p{
    color: #764207;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal; 
    font-size: 16pt;
    margin-top: 40px;
}


/* RESPONSIVE DESIGN TIL MOBIL FOR MENU-SIDEN */

@media screen and (max-width: 615px){
    .menucontainer{
        width: 90%;
    }

    .coffeemenupic, .croissantpic{
        width: 90%;
    }

    .menucontainer #espresso ul li{
        padding-right: 70px;
    }

    .menucontainer #beerplease br{
        display: none;
    }

    .rabatter div{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .rabat-knap{
        margin-left: -140px;
    }



}


