*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Stylesheeet til underartikler */ 





/* CSS til CAFEERNE */

/*CSS til Vestergade*/
.vestergade{
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 500px;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 40px;
}

.vestergade div{
    background-color: white;
    justify-content: space-around;
    width: 50%;
    margin: 20px;
}

.vestergade h3{
    margin-top: 5px;
}

.vestergade h2{
    margin-top: 20px;
}

#tre_billeder_fra_højre .img_vestergade_1{
    background-color: blue;
    height: 150px;
    width: 150px;
}

/*Bassin og graven*/ 
.bassin_graven{
    display: flex;
    flex-direction: row;
    background-color: #f4d19c;
    height: 600px;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

.bassin_graven div{
    background-color: #f4d19c;
    justify-content: space-around;
    margin: 50px;
    margin-left: 20px;
    width: 50%;
}

.bassin_graven h3{
    margin-top: 5px;
}

.bassin_graven h2{
    margin-top: 20px;
}

.img_bassin_venstre{
    height: 95%;
    width: 100%;
}

.bassin_graven_content img{
    margin-top: 20px;
}

.bassin_graven_content {
    text-align: center;
}

.bassin_graven_content h3 {
    text-align: left;
}

/*Brammersgade*/
.brammersgade{
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 750px;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
}

.brammersgade div{
    background-color: white;
    justify-content: space-around;
    margin-left: 20px;
    margin-top: 50px;
}

.brammersgade h3{
    margin-top: 5px;
}

.brammersgade h2{
    margin-top: 20px;
}

.img_bram_højre{
    float: right;
}

.img_bram_midt{
    float: right;
}

.img_bram_venstre{
    float: right;
}

/* Graven */

.bassin_graven .graven_imgs{
    margin: 0px;
    padding: 0px;
    width: 100%;
}


/* Slideshow container */
.slideshow-container {
    max-width: 400px;
    position: relative;
}

.slideshow-container div{
    width: 300px;
    height: 300px;
    
}

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }


/* Graven*/







/* CSS til OM OS siden */

.omos{
    display: flex;
}

.vier h1{
    color: #bb7700;
    font-size: 70pt;
    font-family: social-gothic-rough, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}



.tekstboks h2{
    color: #764207;
    font-size: 22pt;
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: left;
    margin-bottom: 10px;
}

.tekstboks p{
    text-align:left;
    font-size: 14pt; 
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 35px;
    margin-bottom: 20px;
}

/*boksen med billede og tekst skal fylde 50% hver*/
.billedeboks 
{
    width: 50%;
    margin-right: 50px;
}

.billedeboks img
{
    width: 100%;
    display: block;
}

/*placeringen af teksten øverst i main*/
.tekstboks
{
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 50px;
    margin-right: 50px;
}

.kontakt{
    display: flex;
    height: 300px;
    background-color: #e6dfd6;
    margin-top: 40px;
}

.kontakt h2{
    color: #764207;
    font-size: 22pt;
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: left;
    padding-top: 20px;
    padding-left: 50px;
}




.kontakt p{
    text-align:left;
    font-size: 14pt; 
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 35px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 30px;
}

.billedeboks a img {
    width: auto;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 30px;
} 

.icons{
    display: flex;
}

#fb{
    
}

#insta{
    padding-left: -15px;
}

.divboks{
    height: 55px;
    width: 55px;
}




/* CSS til MENU siden */

.coffeemenupic{
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: #f4d19c;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.kaffemenu{
    display: flex;
    justify-content: center;
    background-color: #f4d19c;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding-bottom: 20px;
}

.kaffemenu div ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.kaffemenu div ul #brownspot{
    background-color: #764207;
    color: #764207;
    padding-right: 100px;
}

.kaffemenu div:first-child ul li{
    padding-right: 100px;
    background-color: #764207;
}

.kaffemenu div ul li{
    font-size: 22pt; 
    color: #f4d19c;
    padding: 5px 0px 5px 15px;
}

.kaffemenu div ul #extras{
    background-color: #f4d19c;
    color: #764207;
}    

.kaffemenu div #prices li{
    color: #764207;
    font-weight: 700;
}

